*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
main{
    text-align: center;
}
img{
    margin-bottom: 50px;
}
button{
    grid-area: 1/3/2/4;
    display: block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #008000;
    border: 1px solid #008000;
    border-radius: 0 15px 15px 0;
    margin-left: 20px;
}
button:active{
    background-color: #008000;
    color: #ffffff;
}
div{
    margin: 30px auto 40px auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
}
input{
    grid-area: 1/1/2/4;
    width: 400px;
    height: 45px;
    border: 1px solid #c0c0c0;
    border-radius: 15px;
    padding-left: 20px;
    font-size: 1rem;
}
input:focus{
    outline: auto;
}